@import "tailwindcss";

@font-face {
  font-family: 'Waldenburg-condensed-bold';
  src: url('/fonts/KMRwaldenburg-SemiCondensedBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Waldenburg-condensed';
  src: url('/fonts/KMRwaldenburg-SemiCondensed.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Waldenburg-regular';
  src: url('/fonts/KMRwaldenburg-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Waldenburg-medium';
  src: url('/fonts/KMRwaldenburg-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Waldenburg-bold';
  src: url('/fonts/KMRwaldenburg-Bold.ttf') format('truetype');
}

.font-w-r {
  font-family: 'Waldenburg-regular';
}
.font-w-b {
  font-family: 'Waldenburg-bold';
}
.font-w-m {
  font-family: 'Waldenburg-medium';
}
.font-w-c-b {
  font-family: 'Waldenburg-condensed-bold';
}

.font-w-c {
  font-family: 'Waldenburg-condensed';
}
.grad {
  background-image: 
    linear-gradient(
      0deg,
      rgba(232, 232, 232, 0) 0%, 
      rgba(232, 232, 232, 0.04) 62.8%, 
      rgb(232, 232, 232) 100%
    ),
    linear-gradient(
      270deg, 
      rgba(232, 232, 232, 0) 32.65%, 
      rgb(232, 232, 232) 93.63%
    ),
    linear-gradient(
      230deg, 
      rgb(253, 115, 54) 24.11%, 
      rgb(215, 167, 255) 42.89%, 
      rgb(175, 250, 255) 62.49%
    );
}
